.content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(122, 169, 230);
  padding: 20px;
  width: 100%;
}

#display {
  width: 100%;
}

#slider {
  width: 100%;
}

#length {
  display: inline-block;
  width: 100px;
}

.previous_passwords {
  margin-bottom: 20px;
}

#box {
  width: 400px;
  overflow: hidden;
  background: rgb(155, 199, 226);
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}
.close {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
}
